<h3>フォロー中</h3>
{{#if followUsers}}
<table class="striped">
    <tbody>
        {{#each followUsers}}
        <tr>
            <td><img src="{{image}}" class="circle"></td>
            <td><a href="/informations/user/{{_id}}">{{displayName}}</a></td>
            <td>
                <form action="" method="POST">
                    <input id="{{_id}}" type="button" value="フォロー中" class="btn" onclick="follow(this.id)">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>まだ誰もフォローしていません</p>
{{/if}}
<br>
<h3>あなたへのおすすめ</h3>
{{#if unFollowUsers}}
<table class="striped">
    <tbody>
        {{#each unFollowUsers}}
        <tr>
            <td><img src="{{image}}" class="circle"></td>
            <td><a href="/informations/user/{{_id}}">{{displayName}}</a></td>
            <td>
                <form action="" method="POST">
                    <input id="{{_id}}" type="button" value="フォローする" class="btn" onclick="follow(this.id)">
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p>他にユーザーはいません</p>
{{/if}}

<script> 
    const fromUserId =  "{{userId}}";

    function follow(toUserId){
        var values = {
            toUserId: toUserId,
            fromUserId: fromUserId,
        };
        console.log(values);
        $.ajax({
            url:"/follow/:toUserId/:fromUserId",
            type:"POST",
            data:values,
        }).done(function (results){
            document.getElementById(toUserId).value=results.values;
            alert(results.msg);
        }).fail(function (xhr, textStatus, errorThrown){
            console.log("ajax通信に失敗しました");
        }).always(function (xhr){
        });
    }
</script>