<h1>Informations</h1>
<div class="row">
    <div class="col s12 m4 l2"></div>
    <div class="col s12 m4 l8">
        <form action="/informations" method="POST">
            <div class="input-field col s10">
                <input type="text" id="search" name="search">
                <label for="search">キーワード</label>
            </div>
            <div class="input-field col s2">
                <input type="submit" value="検索" class="btn">
            </div>
        </form>
    </div>
    <div class="col s12 m4 l2"></div>
</div>
<div class="row m-flex">
    {{#each informations}}
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                {{{editIcon user ../user _id}}}
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p>{{stripTags (truncate body 70)}}</p>
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="">
                    <a href="/informations/user/{{user._id}}">{{user.displayName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a href="/informations/{{_id}}" class="btn grey">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No informations to display</p>
    {{/each}}
</div>

