<div class="row">
    <div class="col s12 m8">
        <h3>{{information.title}}
            <small>{{{editIcon information.user user information._id false}}}</small>
        </h3>
        <div class="card information">
            <div class="card-content">
                <span class="card-title">{{formatDate information.createdAt 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{information.body}}}
            </div>
            <img class="responsive-img" src="{{information.coverImagePath}}">
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{information.user.displayName}}</span>
                <img src="{{information.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/informations/user/{{information.user._id}}">More From {{information.user.firstName}}</a>
            </div>
            <div class="card-action">
                <form action="" method="POST">
                    <input id="followButton" type="button" value="{{followMsg}}" class="btn">
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m8">
        <h4>コメント</h4>
        <div class="card information">
            <div class="card-content">
                <ul id="comments">
                {{#each comment}}
                    <li class="row">
                        <div class="col s2"><img src="{{user.image}}" class="circle chatimg"></div>
                        <div class="col s10"><span class="font-small">{{user.displayName}}</span><br>{{comment}}</div>
                    </li>
                {{else}}
                    <p>コメントはまだありません</p>
                {{/each}}
                </ul>
                <form id="chatForm">
                    <div class="row">
                        <div class="input-field col s10">
                            <input type="text" id="comment" name="comment">
                            <label for="comment">コメント入力</label>
                        </div>
                        <div class="input-field col s2">
                            <input type="submit" value="送信" class="btn">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <h4>最近訪れたユーザ</h4>
        <div class="card information">
            <div class="card-content">
                {{#each viewUsers}}
                    <li><a href="/informations/user/{{_id}}">{{displayName}}</a></li>
                {{else}}
                    <p>まだいません</p>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script> 
    const informationId =  "{{information._id}}";
    const informationUserId = "{{information.user._id}}";
    const userInfo = {userId: "{{userId}}", userName: "{{userName}}", userImage: "{{userImage}}"};
    console.log(userInfo);
    
    $('#followButton').click(function(e){
        var values = {
            toUserId: informationUserId,
            fromUserId: userInfo.userId
        };
        console.log(values);
        $.ajax({
            url:"/follow/:toUserId/:fromUserId",
            type:"POST",
            data:values,
        }).done(function (results){
            document.getElementById("followButton").value=results.values;
            alert(results.msg);
        }).fail(function (xhr, textStatus, errorThrown){
            console.log("ajax通信に失敗しました");
        }).always(function (xhr){
        });
    });
</script>

<script src="/js/socket-comment.js"></script>
