<div class="row">
    <div class="col s12 m8">
        <h3>{{information.title}}
            <small>{{{editIcon information.user user information._id false}}}</small>
        </h3>
        <div class="card information">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{information.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{information.user.displayName}}</span>
                <img src="{{information.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/informations/user/{{information.user._id}}">More From {{information.user.firstName}}</a>
            </div>
        </div>
    </div>
    <div class="col s12 m10">
        <h4>コメント</h4>
        <div class="card information">
            <div class="card-content">
                <ul id="comments">
                {{#each comment}}
                    <li>{{user}} {{comment}}</li>
                {{else}}
                    <p>コメントはまだありません</p>
                {{/each}}
                </ul>
                <form id="chatForm">
                    <div class="row">
                        <div class="input-field">
                            <input type="text" id="comment" name="comment">
                            <label for="comment">コメント入力</label>
                        </div>
                        <input type="submit" value="投稿" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>

<script> 
    const informationid =  "{{information._id}}";
    const userid =  "{{userid}}";
    const username =  "{{username}}";
    console.log(informationid + '   ' + userid + '  ' + username);
</script>

<script src="/js/socket.js"></script>
